# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Stop running application
      run: if lsof -i :80; then lsof -i :80 | awk 'NR!=1 {print $2}' | xargs kill -9; else echo "No se esta ejecutando ninguna aplicacion en el puerto 80"; fi

    - name: Clean project
      run: mvn clean package

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Copy application file
      run: cp target/baconapi-0.0.1-SNAPSHOT.jar /home/ubuntu/baconapi/baconapi-0.0.1-SNAPSHOT.jar

    - name: Execute Jar file
      run: sudo nohup java -jar /home/ubuntu/baconapi2/baconapi-0.0.1-SNAPSHOT.jar &

    
